/* General */
.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

/* Table */

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

/* Form */

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 20px;
}

/* Buttons */
.btn.btn-default {
  border-color: black;
  margin-top: 12px;
  background-color: lightyellow;
  margin-left: 5px;
}

.btn.btn-default:hover {
  background-color: lightblue;
  border-color: black;
}

table.table-striped th {
  font-size: 20px;
}

table.table-striped td {
  font-size: 15px;
}
